@import "variables";
@import "normalize";

.main-content {
	width: 600px;
	margin: 0 auto;

	.btn {
		display: inline-block;
		padding: 0.3em;
		text-decoration: none;
		border-style: solid;
		border-width: 1px;
		border-radius: 0.3rem;
		border-color: #1289FF;

		&:hover {
			text-decoration: none;
			background-color: #89CDFF;
		}
	}

	th td {
		text-align: center;
		vertical-align: middle;
	}
}
