@import "variables";
@import "normalize";

@mixin large {
	@media screen and (min-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin medium {
	@media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin small {
	@media screen and (max-width: #{$medium-breakpoint}) {
		@content;
	}
}

* {
	box-sizing: border-box;
}

.main-content {
	width: 83%;
	margin: 0 auto;

	@include large {
		max-width: 80rem;
		padding: 1rem 2rem;
	}

	@include medium {
		padding: 0.8rem 1rem;
	}

	@include small {
		padding: 0.5rem 0.5rem;
	}
}
