<!DOCTYPE html>
<head>
	<title>{{ page.title | default: "Unnamed tool" }} - CPE Toolbox</title>
	<meta charset="UTF-8" />
	<meta name="author" content="iBug" />
	<meta property="og:locale" content="en_US" />
	<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}/{{ page.title }}" />
	<style type="text/css" src="{{ site.url }}{{ site.baseurl }}/assets/cpet.css"></style>
	<meta name="theme-color" content="#FF0000" />
	<meta name="robots" content="noarchive" />
</head>
<body>
	<div id="main">
		{{ content }}
		<pre id="output"></pre>
	</div>
	<script type="text/javascript">
		const output = {
			field: document.getElementById("output"),
			clear: function() {
				this.field.innerText = "";
			},
			print: function(str) {
				this.field.innerText += str;
				return str;
			}
		};
	</script>
	<script type="text/javascript" src="{{ site.baseurl }}/lib-ibug.js"></script>
	<script type="text/javascript" src="script.js"></script>
</body>
